
<!DOCTYPE html>
<html>
<head>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<%- include("../pieces/header"); -%>

<%- include("../pieces/not-mobile"); -%>

<div style="height:calc(100% - 300px); text-align:center;">
  <img src="../img/old-man-shrugging.png" style="display:block; margin:auto;">
  <h2>Sorry! Couldn't find that</h2>
</div>

<%- include("../pieces/logo"); -%>

<%- include("../pieces/footer"); -%>

</body>
</html>
