
<!DOCTYPE html>
<html>
<head>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<%- include("../pieces/header"); -%>

<div id="root"></div>

<div id="not-mobile">
  best enjoyed on mobile!
</div>

<%- include("../pieces/footer"); -%>

<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>

<script src="../dist/home.bundle.js"></script>

</body>
</html>
