
<div id="header">
  <h1><a href="/">Jukebox</a></h1>
</div>
<div class="hamburger-box">
  <div class="burger-top">-</div>
  <div class="burger-middle">-</div>
  <div class="burger-bottom">-</div>
</div>
<div class="drop-down-menu" style="display: block;">
  <div class="drop-down-button">
    <h1 class ="center-text">Account Info</h1>
  </div>
  <div class="drop-down-button">
    <h1 class ="center-text">About Us</h1>
  </div>
  <div class="drop-down-button">
    <h1 class ="center-text">Tutorial</h1>
  </div>

</div>
