
<!DOCTYPE html>
<html>
<head>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<%- include("./header"); -%>

<div id="not-mobile">
  best enjoyed on mobile!
</div>

<div style="height:calc(100% - 100px); text-align:center;">
  <img src="../img/man-mad-at-phone.png" style="margin:auto; display:block;">
  <h2>Sorry! Something went wrong</h2>
</div>

<%- include("./footer"); -%>

</body>
</html>
