
<!DOCTYPE html>
<html>
<head>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<%- include("./header"); -%>

<div id="root"></div>

<%- include("./footer"); -%>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<script src="../dist/home.bundle.js"></script>

</body>
</html>
