
/* I'm not sure why but everything is short unless I set this */
html {
    height: 100%;
}

body {
    background-color: #7D84B2;
    font-family: "Mandali", sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, hr, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#not-mobile {
    display: none;
}

@media all and (min-width: 1280px) {
    #not-mobile {
        color: #333333;
        display: block;
        font-size: 24px;
        position: fixed;
        right: 40px;
        top: 130px;
        transform: rotate(22deg);
    }
}

#header {
    color: #B2E6F3;
    font-family: "Edu TAS Beginner", cursive;
    text-shadow: 0 0 3px #B2E6F3;
}

#header:hover {
    text-shadow: 0 0 6px #0FF;
}

#header a:link, a:visited {
    color: #B2E6F3;
    text-decoration: none;
}

#header, #footer {
    background-color: #333333;
    height: 42px;
    padding: 4px 8px;
    text-align: center;
}

#footer {
    bottom: 0;
    font-size: 20px;
    position: relative;
}

#github-logo, #footer p {
    color: aliceblue;
    display: inline;
    vertical-align: top;
}

#github-logo {
    margin: 5px 5px;
}

/*
    Styles for burger
*/

.hamburger-box {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #B2E6F3;
    font-size: 60px;
    user-select: none;
    z-index: 3;
}

.hamburger-box:hover {
    text-shadow: 0 0 6px #0FF;
}

#burger-top {
    display: block;
    position: absolute;
    left: 12px;
    top: -55px;
}

#burger-mid {
    display: block;
    position: absolute;
    left: 11px;
    top: -45px;
}

#burger-bot {
    display: block;
    position: absolute;
    left: 10px;
    top: -35px;
}

#burger-x {
    display: block;
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    left: 12px;
    top: -1px;
}

/*
    Dropdown menu
*/

.dropdown-menu {
    background-color: #333333;   
    box-shadow: 0px 0px 4px 4px #333333;
    color: aliceblue;
    font-family: "Mandali", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 50%;
    width: 100%;
    z-index: 1;
}

.dropdown-menu h1 {
    font-size: 24px;
}

.dropdown-button {
    position: relative;
    width: 150px;
    padding: 4px 12px;
    margin: auto;
    margin-top: 18px;
    background-color: #7D84B2;
    border-radius: 10px;
}

.center-text {
    position: relative;
    margin: auto;
}

#discord-logo {
    margin-top: 20px;
    max-width: 170px;
}
