
#guest {
    margin: auto;
    position: relative;
    height: calc(100% - 20px);
    width: 100%;
}

#room-num {
    color: #333333;
    font-size: 24px;
    padding: 20px 0px 8px 0px;
    text-align: center;
}

#root {
    height: calc(100% - 250px); /* 100% – (head/foot + logo + room #) */
}

#logo {
    margin: auto;
    height: 200px;
    width: 200px;
}

.form .button {
    display: inline;
}

.form input {
    font-family: "Mandali", sans-serif;
    font-size: 20px;
    height: 40px;
    margin: auto;
    margin-top: 16px;
    position: relative;
    width: 240px;
}

.form {
    text-align: center;
}

button {
    background-color: #B2E6F3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 16px 0 #B2E6F3;
    color: #333333;
    display: block;
    font-family: "Mandali", sans-serif;
    font-size: 18px;
    margin: auto;
    padding: 4px 12px;
}

table {
    border-collapse: collapse;
    border: 0px;
    color: #FFFFFF;
    font-size: 8px;
    display: block;
    overflow: auto;
}

tbody {
    display: block;
}

td {
    border: 0px;
    border-bottom-width: 0;
    border-image-width: 0;
    padding: 4px;
    text-align: left;
}

tr {
    display: block;
}

tr:nth-child(even) {
    background-color: #333333;
}

tr:nth-child(odd) {
    background-color: #222222;
}

#search-song-result {
    margin: auto;
    overflow: auto;
    position: relative;
    height: calc(100% - 70px);
    width: 295px;
    z-index: 1;
}

table img {
    display: block;
}

.artist-name {
    color: #999999;
    font-size: 16px;
    margin-block-start: -8px;
}

.song-name {
    font-size: 18px;
    margin-block-start: -8px;
    line-height: 24px;
}
