
button {
    background-color: #B2E6F3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 16px 0 #B2E6F3;
    color: #333333;
    display: block;
    font-family: "Mandali", sans-serif;
    font-size: 24px;
    margin: auto;
    min-width: 120px;
    padding: 4px 12px;
}

button:disabled,
button[disabled] {
    background-color: #85ACB6;
    box-shadow: none;
    cursor: not-allowed;
}

.button--host {
    background-color: #F1C75A;
    box-shadow: 0 0 16px 0 #F1C75A;
}

#logo {
    margin: auto;
    height: 200px;
    width: 200px;
}

#home {
    width: 100%;
}

#root {                         /* screen - footer - logo */
    height: calc(100% - 250px); /* 100% – (42 + 8) - 200  */
}

#create-join {
    margin-top: 100px;
    padding: 12px 16px;
    text-align: center;
}

#join {
    margin-top: 32px;
}
